<h2>Sign in</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <%= f.input :email, label:"Email"%>

  <%= f.input :password %>

  <% if devise_mapping.rememberable? -%>
    <%= f.input :remember_me, inline_label: 'Yes, remember me'  %>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>